
 .home {
   background-image: url('../images/backgrounds/home_img.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   text-align: center;
   padding-top: 17%;
   font-family: cursive;
 }
 .home h1{
  padding: 2px;
  margin: 5px;
}
.home p {
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 #design-paragraph, #development-paragraph, #product-paragraph{
  display: none;
} 
#dec1,#dec2,#dec3,#dec4,#dec5,#dec6,#dec7,#dec8{
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.456);
  position:absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 30%;
  font-family: 'Delius Swash Caps', cursive;
}